<p id="notice"><%= notice %></p>

      <h2>Name: <%= @relationship_type.name %></h2>
      <h3>Backward name: <%= @relationship_type.backward_name %></h3>
      <%= link_to 'Back', relationship_types_path %>
